.font{
    font-family:sans-serif;
}

H1::first-letter {
    font-size: 200%;
  }

H1{
    font-size:28px !important;
}

.float-left{
    float: left;
    padding-left:10px;
    padding-right: 10px;
}

/* .title-styles{
    text-shadow: 1.5px 1.5px black;
    font-weight: bolder !important;
    color: orange;
    font-style: italic;
} */

li{
    padding-bottom: 8px;
}

a{
    color: orange;
    font-style:bold;
}

a:hover{
    color: green;
}

footer{
    text-align: center;    
    font-size: 12px;  
    padding-bottom: 10px;  
    padding-top: 10px;
    background-image: linear-gradient(45deg, black, orange, white);
    border-top: 2px solid #000;
}

.border-styles{
    width:800px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    box-shadow: -3px 3px 3px 3px black, 3px 3px 3px 3px black;
    align-self: center;    
    margin: auto;
}

body{
    background-image: url("../images/bats.gif");    
    background-repeat:repeat;
}

.padding{
    padding-left:25px;
    padding-right: 25px;
}

header{
    background-image: linear-gradient(45deg, white, orange, black);
    border-bottom: 1px solid #000;
    margin-top:-25px;
}

.row {
    display: flex;
  }
  
  .column-1 {
    flex: 20%;
    padding-top:9px;
    margin-left: -5px;
  }

  .column-2{
      flex:70%;
      padding-right: 30px;
  }

  .btn-primary{
      color: black;
      background-color: orange;
      cursor: pointer;
      font-weight: bold;
      width:100px;
      text-align: left;
      border: solid 1.5px;
      height:30px;
      margin: 5px;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 39px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif !important;
    height: 18px;
    margin-top:6px;
    overflow: hidden;
  }

  .topnav a.active {
    color:orange;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 .dropdown-content a {
    float: none;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-content a:hover,.topnav a:hover, .dropbtn:hover {
    background-color:grey;
    color:white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .m-top{
      margin-top: -10px;
  }

  H4{
    margin-top: -24px;
  }

  H2{
      padding-top:10px;
      font-size: 30px;
  }
 